@import "../../Variables.scss";

.itemsWrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "s m";
    margin: 0 auto;
    width: 1170px;

    .itemsWrapper-sidebar {
        grid-area: s;

        // .sideBar-movieRating {
        //     display: block;
        //     margin-bottom: $gap * 2;
        //     border-radius: 5px;
        //     border: 1px solid $color-gray;
        //     overflow: hidden;

        //     // @include md {
        //     //     display: none;
        //     // }

        //     &__label {
        //         padding: $gap / 2 $gap;
        //         background-color: $color-accent;
        //     }

        //     &__wrapper {
        //         padding: $gap / 1.5 0;
        //         background-color: lighten($color: $color-gray, $amount: 3%);

        //         .content {
        //             display: flex;
        //             justify-content: space-between;
        //             padding: $gap / 1.2;
        //             border-bottom: 1px solid darken($color: $color-gray, $amount: 10%);
        //             background-color: lighten($color: $color-gray, $amount: 3%);
        //             cursor: pointer;

        //             .wrapper-name {
        //                 &__movieName {
        //                     color: $color-primary;
        //                 }
        //             }

        //             .wrapper-rating {
        //                 &__rating {
        //                     padding: 0 $gap / 2;
        //                     font-size: 0.9rem;
        //                     color: $color-light;
        //                     border-radius: 20px;
        //                     background-color: darken($color: $color-gray, $amount: 50%);
        //                 }
        //             }
        //         }

        //         .content:hover {
        //             background-color: $color-accent;

        //             .wrapper-name {
        //                 &__movieName {
        //                     color: $color-light;
        //                 }
        //             }

        //             .wrapper-rating {
        //                 &__rating {
        //                     background-color: $color-dark;
        //                 }
        //             }
        //         }
        //     }

        //     .content:last-child {
        //         border-bottom: none;
        //     }
        // }
    }

    .itemsWrapper-items {
        grid-area: m;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: $gap;
        margin-bottom: $gap * 3;
    }

    .itemsWrapper-content {
        position: relative;
        overflow: hidden;
        margin-left: 30px;

        .label {
            margin-top: -$gap;
            margin-left: $gap * 5;
            font-size: 3rem;
            font-weight: normal;
            color: lighten($color: $color-dark, $amount: 10%);
            letter-spacing: 0.1em;

            // @include sm-xs {
            //     margin-top: -$gap / 2;
            //     font-size: 2rem;
            // }

            // @include xs {
            //     margin-top: -$gap / 2;
            //     font-size: 2rem;
            // }
        }

        .label::before {
            content: "";
            position: absolute;
            left: 0;
            width: 60px;
            margin-top: $gap;
            border-bottom: 3px solid $color-accent;

            // @include sm-xs {
            //     margin-top: $gap / 2;
            // }

            // @include xs {
            //     margin-top: $gap / 1.8;
            // }
        }

        .label::after {
            content: "";
            position: absolute;
            margin-top: $gap * 3.2;
            margin-left: $gap / 1.5;
            width: 100%;
            border-bottom: 3px solid $color-accent;

            // @include sm-xs {
            //     margin-top: $gap * 2;
            //     margin-left: $gap / 2;
            // }

            // @include xs {
            //     margin-top: $gap * 2;
            //     margin-left: $gap / 2;
            // }
        }
    }
}
