@import "./../../Variables.scss";
// @import './../../Mixins-media.scss';
@import "./../../common.scss";

.itemDetails {
    position: relative;
    grid-area: m;
    margin-left: $gap * 2;
    overflow: hidden;

    // @include md {
    //     margin: 0 auto;
    // }

    .itemDetails-header {
        margin-bottom: $gap;

        .title {
            margin-top: -$gap;
            font-size: 3rem;
            font-weight: normal;
            color: lighten($color: $color-dark, $amount: 10%);
        }

        .title::after {
            content: "";
            position: absolute;
            width: 100%;
            margin-top: $gap * 3;
            margin-left: $gap;
            border-bottom: 3px solid $color-accent;
        }

        &__wrapper {
            display: flex;

            .item-poster {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 200px;
                height: 280px;
                border: 1px solid $color-dark;
                border-radius: 7px;

                .poster {
                    width: 95%;
                    height: 95%;
                }
            }

            .items-info {
                margin-left: $gap * 2;

                .items {
                    display: flex;
                    width: 350px;
                    margin-bottom: $gap / 2;
                    font-size: 1.3rem;

                    .item-title {
                        width: 150px;
                    }

                    .item {
                        width: 300px;
                    }
                }
            }
        }
    }

    .itemDetails-content {
        &__description {
            .title {
                margin: ($gap * 2) ($gap * 2.5);
                font-size: 2rem;
                font-weight: normal;
                color: lighten($color: $color-dark, $amount: 10%);
            }

            .title::before {
                content: "";
                position: absolute;
                left: 0;
                width: 30px;
                margin: ($gap / 1.5) 0;
                border-bottom: 3px solid $color-accent;
            }

            .title::after {
                content: "";
                position: absolute;
                width: 100%;
                margin-top: $gap * 2;
                margin-left: $gap;
                border-bottom: 3px solid $color-accent;
            }

            .description {
                margin-bottom: $gap;
            }
        }

        &__trailer {
            width: 100%;

            .trailer {
                height: 450px;
                width: 100%;
                border: none;
                border-radius: 7px 7px 0 0;
            }

            .itemBar {
                display: flex;
                justify-content: space-between;
                padding: 15px 80px;
                margin-top: -$gap / 3.4;
                margin-bottom: $gap * 2;
                background-color: lighten($color: $color-dark, $amount: 20%);
                border-radius: 0 0 7px 7px;

                .item {
                    padding: 5px 15px;
                    font-size: 1rem;
                    color: $color-light;
                    background-color: $color-accent;
                    border-radius: 18px;
                    cursor: pointer;
                }
            }
        }
    }

    .itemDetails-footer {
        &__comments {
            .title {
                margin: ($gap * 2) ($gap * 2.5);
                font-size: 2rem;
                font-weight: normal;
                color: lighten($color: $color-dark, $amount: 10%);
            }

            .title::before {
                content: "";
                position: absolute;
                left: 0;
                width: 30px;
                margin: ($gap / 1.5) 0;
                border-bottom: 3px solid $color-accent;
            }

            .title::after {
                content: "";
                position: absolute;
                width: 100%;
                margin-top: $gap * 2;
                margin-left: $gap;
                border-bottom: 3px solid $color-accent;
            }

            .comments-wrapper {
                margin-bottom: $gap * 2;

                &__name {
                    display: flex;
                    justify-content: space-between;
                    padding: 10px 15px;
                    background-color: $color-accent;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;

                    .wrapper {
                        display: flex;

                        .image {
                            height: 20px;
                            width: 20px;
                        }

                        .name {
                            margin-left: $gap / 1.5;
                            margin-right: $gap / 1.5;
                            color: $color-light;
                        }
                    }

                    .date {
                        color: $color-light;
                    }
                }

                &__comment {
                    padding: 10px 15px;
                    background-color: $color-gray;
                    border: 1px solid $color-gray;
                    border-bottom-left-radius: 5px;
                    border-bottom-right-radius: 5px;

                    .comment {
                        margin-bottom: 10px;
                    }

                    .delite-comment {
                        display: flex;
                        justify-content: flex-end;

                        .delite {
                            text-align: center;
                            padding: 5px 0;
                            width: 150px;
                            font-size: 1rem;
                            color: $color-light;
                            background-color: lighten($color: $color-accent, $amount: 5%);
                            border: 1px solid transparent;
                            border-radius: 6px;
                            transition: 0.4s;
                            cursor: pointer;
                        }

                        .delite:hover {
                            color: $color-dark;
                            background-color: $color-accent;
                            border: 1px solid $color-dark;
                        }
                    }
                }
            }
        }

        &__addComment {
            margin-bottom: $gap * 2;

            .title {
                margin: ($gap * 2) ($gap * 2.5);
                font-size: 2rem;
                font-weight: normal;
                color: lighten($color: $color-dark, $amount: 10%);
            }

            .title::before {
                content: "";
                position: absolute;
                left: 0;
                width: 30px;
                margin: ($gap / 1.5) 0;
                border-bottom: 3px solid $color-accent;
            }

            .title::after {
                content: "";
                position: absolute;
                width: 100%;
                margin-top: $gap * 2;
                margin-left: $gap;
                border-bottom: 3px solid $color-accent;
            }

            .addComment-form {
                text-align: center;

                .form-group {
                    margin-bottom: $gap;

                    .input-name {
                        box-sizing: border-box;
                        padding: 10px 15px;
                        height: 46px;
                        width: 100%;
                        border: 1px solid lighten($color: $color-dark, $amount: 40%);
                        border-radius: 6px;
                    }

                    .text {
                        box-sizing: border-box;
                        resize: vertical;
                        min-height: 46px;
                        width: 100%;
                        padding: 15px 15px 0 15px;
                        border: 1px solid lighten($color: $color-dark, $amount: 40%);
                        border-radius: 6px;
                    }
                }

                .btn {
                    box-sizing: border-box;
                    padding: 12px 40px;
                    font-size: 1rem;
                    color: $color-light;
                    background-color: lighten($color: $color-accent, $amount: 5%);
                    border: 1px solid transparent;
                    border-radius: 6px;
                    transition: 0.4s;
                    cursor: pointer;
                }

                .btn:hover {
                    color: $color-dark;
                    background-color: $color-accent;
                    border: 1px solid $color-dark;
                }
            }
        }
    }
}
