@import "./../../Variables.scss";
@import "./../../Mixins-media.scss";
@import "./../../common.scss";

.header {
    margin-bottom: $gap * 4;
    background-color: $color-dark;

    // @include sm {
    //     margin-bottom: calc($gap * 2);
    // }

    .header-logo {
        text-align: center;
        padding: 100px 0;
        background-image: url(../../img/header-bg.jpg);
        background-position: 50% 50%;
        background-size: cover;

        // @include sm {
        //     padding: 50px 0;
        // }

        .container-logo {
            .container-label {
                font-size: 4rem;
                font-family: $font-header;
                font-weight: bold;
                letter-spacing: 0.33em;
                color: $color-accent;

                // @include sm {
                //     font-size: 3rem;
                // }
            }

            .container-description {
                font-size: 1.5rem;
                letter-spacing: 0.2em;
                color: $color-light;
            }
        }
    }

    .header-navbar {
        display: flex;
        justify-content: space-between;
        padding: 0 $gap;
        margin: 0 auto;
        height: 66px;
        width: 1170px;

        // @include lg-md {
        //     width: 970px;
        // }

        // @include md-sm {
        //     width: 750px;
        // }

        // @include sm-xs {
        //     justify-content: center;
        //     align-items: center;
        //     padding: 0 $gap;
        //     margin: 0 auto;
        //     width: 546px;
        // }

        // @include xs {
        //     justify-content: center;
        //     align-items: center;
        //     padding: 0 $gap;
        //     margin: 0 auto;
        //     width: 328px;
        // }

        &__btn {
            display: none;
            justify-content: center;
            padding: $gap / 2.5;
            width: 35px;
            border: 1px solid $color-gray;
            border-radius: 4px;
            transition: 0.5s;
            cursor: pointer;

            // @include sm-xs {
            //     display: block;
            // }

            // @include xs {
            //     display: block;
            // }

            .btn-item {
                margin: $gap / 3;
                height: 2px;
                width: 25px;
                background-color: $color-light;
                transition: 0.5s;
            }
        }

        &__btn:hover {
            border: 1px solid $color-accent;

            .btn-item {
                background-color: $color-accent;
            }
        }

        &__menu {
            // @include sm-xs {
            //     display: none;
            // }

            // @include xs {
            //     display: none;
            // }

            .menu-item {
                display: flex;

                .itemMenu {
                    margin: $gap / 2;
                    padding: $gap;
                    color: $color-light;
                    border-radius: 5px;
                    text-decoration: none;
                    transition: 0.5s;
                    cursor: pointer;
                }

                .itemMenu:hover {
                    background-color: $color-primary;
                }
            }
        }

        &__searchPanel {
            .searchForm {
                .searchform-input {
                }

                .searchForm-btn {
                }
            }
        }

        &__info {
            // @include sm-xs {
            //     display: none;
            // }

            // @include xs {
            //     display: none;
            // }

            .info-item {
                display: flex;

                .itemInfo {
                    margin: $gap / 2;
                    padding: $gap;
                    color: $color-light;
                    border-radius: 5px;
                    transition: 0.5s;
                    cursor: pointer;
                }

                .itemInfo:hover {
                    background-color: $color-primary;
                }
            }
        }
    }
}
