@import "../Variables.scss";

.itemsWrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "s m";
    margin: 0 auto;
    width: 1170px;

    .itemsWrapper-sidebar {
        grid-area: s;

        &__filter,
        &__genres {
            display: block;
            margin-bottom: $gap * 2;
            border-radius: 5px;
            border: 1px solid $color-gray;
            overflow: hidden;

            .label {
                padding: $gap / 2 $gap;
                background-color: $color-accent;
            }

            .wrapper {
                padding: $gap / 1.5 0;
                background-color: lighten($color: $color-gray, $amount: 3%);

                .wrapper-content {
                    color: $color-primary;
                    padding: $gap / 1.2;
                    border-bottom: 1px solid darken($color: $color-gray, $amount: 10%);
                    background-color: lighten($color: $color-gray, $amount: 3%);
                    cursor: pointer;
                }

                .wrapper-content.active {
                    color: $color-light;
                    padding: $gap / 1.2;
                    border-bottom: 1px solid darken($color: $color-gray, $amount: 10%);
                    background-color: $color-accent;
                }

                .wrapper-content:hover {
                    color: $color-light;
                    background-color: $color-accent;
                }
            }

            .wrapper-content:last-child {
                border-bottom: none;
            }
        }
    }

    .itemsWrapper-content {
        grid-area: m;
        position: relative;
        overflow: hidden;
        margin-left: 30px;

        &__label {
            margin-left: $gap * 5;
            font-size: 3rem;
            font-weight: normal;
            color: lighten($color: $color-dark, $amount: 10%);
            letter-spacing: 0.1em;

            // @include sm-xs {
            //     margin-top: -$gap / 2;
            //     font-size: 2rem;
            // }

            // @include xs {
            //     margin-top: -$gap / 2;
            //     font-size: 2rem;
            // }
        }

        &__label::before {
            content: "";
            position: absolute;
            left: 0;
            width: 60px;
            margin-top: $gap / 2;
            border-bottom: 3px solid $color-accent;

            // @include sm-xs {
            //     margin-top: $gap / 2;
            // }

            // @include xs {
            //     margin-top: $gap / 1.8;
            // }
        }

        &__label::after {
            content: "";
            position: absolute;
            margin-top: $gap * 3.2;
            margin-left: $gap / 1.5;
            width: 100%;
            border-bottom: 3px solid $color-accent;

            // @include sm-xs {
            //     margin-top: $gap * 2;
            //     margin-left: $gap / 2;
            // }

            // @include xs {
            //     margin-top: $gap * 2;
            //     margin-left: $gap / 2;
            // }
        }

        &__items {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: $gap;
            margin-bottom: $gap * 3;
        }
    }
}
